@charset "UTF-8";

@font-face {
  font-family: 'AdvoCut';
  src: url(./assets/fonts/advocut-webfont.eot);
  src: url(./assets/fonts/advocut-webfont.eot?#iefix) format('embedded-opentype'),
       url(./assets/fonts/advocut-webfont.woff) format('woff'),
       url(./assets/fonts/advocut-webfont.ttf) format('truetype'),
       url(./assets/fonts/advocut-webfont.svg#AndinaRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}

@-ms-viewport {
  width: device-width;
}

html {
  min-height:100%;
  background: #1f1f1f;
}

body {
  overflow:hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin:0;
  color: white;
  font-family: 'AdvoCut', sans-serif;
  text-align: center;
  cursor: default;
}

*:focus {
  outline:none;
}

*,*::before,*::after {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background:transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.12);
  border-radius: 14px;
}
::-webkit-scrollbar-corner {
  background:transparent;
}
::selection{
  color:#EEE;
  background:#141414;
}

button, a {
  padding: 0;
  border: 1px solid transparent;
  background: none;
  outline: none;
  text-decoration: none;
}

#ui {
  z-index: 2;
}

#canvas {
  z-index: 1;
}

#webgl {
  z-index: 1;
}

canvas, img {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  image-rendering: optimizeSpeed;
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1); 
  -webkit-transform: scale(1, 1); 
  -o-transform: scale(1, 1); 
  -moz-transform: scale(1, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}